*{

    padding: 0;
    margin: 0;
}

@font-face {
    font-family:'titulo' ;
    src: url('../font/Sahitya-Bold.ttf');
  }

  @font-face {
    font-family:'fuente' ;
    src: url('../font/Sahitya-Regular.ttf');
  }
.contenedor{
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color:black;
    color: white;
    padding: 20px;
    margin: 10px 20px 7px;
        
}
.contenedor-rojo{
    
    width: 400px;
    height: 200px;
    background-color: red;
    color: white;
    padding: 20px;
    margin: 10px 20px 7px;
}

/*Cuando existen dos clases se deben de poner de arriba para abajo ya que por prioridad toma primero la de arriba */

strong{
    display: block;
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 10px;

}

a{
/*display: block; para que aparezca en un solo pedacito*/
display: inline; /*para que se puedan poner en la mis linea*/
padding: 2px;
margin: 3px;
background-color: rgb(247, 166, 166);
color: rgb(255, 255, 255);
width: 40px;
text-decoration: none; /*para que no este subrayado*/
border-radius: 35px; /*para hacer que las orillas esten redondeadas*/  
height: 15px;
border: 1px solid #000;
}

.btn-face{

    display: inline-block; /*para que se puedan poner en la mis linea*/
    padding: 5px;
    margin: 5px;
    background-color: blue;
    color: white;
    width: 100px;
    text-decoration: none; /*para que no este subrayado*/
    border-radius: 25px 40px 90px 20px ; /*para hacer que las orillas esten redondeadas*/ 
    /*border-radius: 25px  70px; con dos valores afecta esquinas contrarias */ 
    /*border-radius: 25px 40px 90px 20px ; para hacer que las 4 orillas esten redondeadas pero con diferente estilo*/ 


}

/* p{
    color: black;
} */


h1{ 
background-color: rgba(230, 146, 146, 0.733);
color: white ;
font-size: 100px;
font-family: titulo ,serif;
}

h2{
    
    font-size: 50px;
    font-family: titulo ,serif;


}

li{
    
    
    color: black

}

/* selector univeral */
/* afecta todo*/
/* 
*{
    background-color: black;
}
*/


/* selector de clase */

.primer-parrafo{
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
   

}

.segundo-parrafo{
    background-color: pink;
    color: black;
    font-size: 15px;
} 


.seg{
    background-color: pink;
    color: black;
    font-size: 15px;
    width: 60%;
}
/* multiples clases  */
    .bg-red {
        background-color: rgb(251, 230, 230);
    }   

    .text-white{
        color: rgb(0, 0, 0);

    }

    .contenedor{
        display: flex;
    width: 90%;
    height: 30px;
    background-color:  rgb(156, 156, 226);
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 60px;
    justify-content: center;

    }

/* selector por identificador */
    #text-unico{
        font-size: 30px;

    }
/* selector de atributo */

    


/* selector pseudo-clase */

a:hover{
    color: red;
}

a:active{
    color: green;
}

a:visited{
    color: rgb(241, 5, 5);
}

figure {
display: flex;
justify-content: center;
align-items: center;

}

section ul li{
display: flex;
justify-content: center;
align-items: flex-start;

}



